.country-title {
  padding-left: 120px;
}

.country-card {
  display: flex;
}

.country-description {
  padding: 0 10px;
}

.languages-list {
  padding-left: 0;
}

.characteristic {
  font-weight: bold;
}

.languages-item {
  margin-left: 16px;
}
